{% extends 'site_admin/site_admin_base.html' %}

{% load static %}
{% load match_extras %}

{% block content %}
<div class="fixed_height_registration">
<div class="page_title_bar">
  <div class="row  w-100">
      <div class="col d-grid align-items-end">
        <h3 class="m-0 p-0 page_h3">{{match}} Notes</h3>
      </div>
<!--       <div class="col d-flex justify-content-center align-items-end pe-5">
        <div class="d-inline-flex ">
          <div class="pe-1">
            <a class="btn bg-success btn-sm fw-bold" href="{% url 'site_admin:create_match' %}">Create New</a>
          </div>
          <div class="pe-1">
            <a class="btn custom_bg_dark_purple btn-sm fixed_width_90px text-white" href="{% url 'site_admin:view_scheduled' 'All' %}">All</a>
          </div>
          <div class="pe-1">
            <a class="btn custom_bg_dark_purple btn-sm fixed_width_90px text-white" href="{% url 'site_admin:view_scheduled' 'Active' %}">Active</a>
          </div>
          <div class="pe-1">
            <a class="btn custom_bg_dark_purple btn-sm fixed_width_90px text-white" href="{% url 'site_admin:view_scheduled' 'Inactive' %}">Inactive</a>
          </div>
                  
        </div>        
      </div>  -->     
<!--       <div class="col col-lg-3 p-0 d-inline-flex justify-content-end align-items-end">
        <form class="form-inline w-100" id="searchForm" method="GET">
          <div class="d-inline-flex w-100">
            <div class="flex-grow-1 pe-1">
              <input class="form-control" type="text" placeholder="Search Matches..." name="q" id="id_q"> 
            </div>
            <div class="">
              <button type="submit" class="search_button"><i class="fas fa-search search_icon"></i></button>
            </div>
          
        </div>      
      </form>
      </div> -->
    </div>
</div>


{% if match.notes.all.count > 0 %}
<div class="table-responsive scrolling_table_fixed_head">
  <table class="table table_sm table-striped align-middle">
    <thead class="fw-bold" >
      <tr>
        <th>Date</th>
        <th>Action Taken By / Author</th>
        <th>Description</th>
        <th>More Content</th> 
      </tr>
    </thead>
    <tbody >

    {% for note in match.notes.all %}
      <tr>
        <td>{{note.date_created}}</td>
        <td>{{note.created_user}}</td>
        <td>{{note.name}}</td>
        <td>{{note.content}}</td>
        



      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="p-3">
  <div class="border bg-light">
    <h5 class="p-4 m-0 text-center">No Notes on Match</h5>
  </div>
  
</div>


{% endif %}

</div>
{% endblock content %}










