body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
	min-height:100vh;
    display: flex;
    flex-flow: column nowrap;
	justify-content: space-between;
	background-color: #f9fafb0f;
  }

.main_content{
	position: fixed;
	top: 90px;
	width: 100%;
	height: calc(100% - 90px);
	/*flex: 1 1 auto;*/
	padding: 0 1em 0;
	overflow-y: scroll;
}

footer{
	border-top: 1px solid #eee;
}

nav{
	/*border-bottom: 1px solid #eee;*/
}

.bg_dark_green{
	background-color: #256645;
}

.admin_button_div{
	position: fixed;
	top: 55px;
	left: 0px;
	width: 100%;
	background-color: #43494f;
}

/*Colors Background*/

.custom_bg_light_teal{
	background-color: #6dc0c2;
}

.custom_bg_dark_teal{
	background-color: #129a9a;
}

.custom_bg_dark_purple{
	background-color: #735383;
}

.custom_bg_medium_purple{
	background-color: #a58aa9;
}

.custom_bg_light_purple{
	background-color: #b3a2bc;
}

.custom_bg_orange{
	background-color: #fb9d32;
}

.custom_bg_beige{
	background-color: #eae0da;
}

.custom_bg_dark_green{
	background-color: #6d9088;
}

.custom_bg_muted_green{
	background-color: #397844;
}

.font_12{
	font-size: 12px;
}

.search_button{
	height: 38px;
	width: 38px;
	border-radius: 5px;
	background-color: #618768ba;
}



.fixed_width_80px{
	width: 80px;
}

.statusModal {
  /*position: relative;*/
}

.statusModal modal-dialog {
  /*position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px;*/
}

.move_cursor{
	cursor: move;
}

body.modal-open {
  /*overflow: scroll; !important;*/
}

.status_modal{
	max-height: 100%;
	padding-top: 70px;
}

.deniedModal{
	padding-top: 100px;
}

.denied_reason_btn{
	background-color: red;
	border: none;
	border-radius: 5px;
}

.bg_muted_red{
	background-color: #f08282bf;
}

.modal-backdrop {
  display: none !important;
}
.modal-open {
    width: 100%;
    margin: 0 auto;   
}

.modal {
    width: 100%;
    margin: 0 auto;   
}

.profile_image{
	width: 200px;
}

.border_divider{
	border-top: 3px solid darkgray;

}

.bullet_li{
	font-size: 8px;
	margin-right: 8px;
	margin-bottom: 3px;
}

.responsive{
	width: 100%;
	height: auto;
}

.status_card{
	width: 400px;
}

.fixed_height_registration{
	height: calc(100% - 15px);
	/*background-color: red;*/
}
.outer_div_vol_reg{
	height: calc(100% - 50px);
	/*background-color: blue;*/
}

.inner_div_vol_reg{
	height: 100%;
	/*background-color: purple;*/

}

.left_panel_scroll{
	height: 100%;
	border: 1px solid lightgrey;
	overflow-y: scroll;
	/*background-color: yellow;*/
}

.match_times_red{
  color: red;
  font-size: 1rem;
}

.match_check_green{
  color: green;
  font-size: 1rem;
}

.match_times_red_lg{
  color: red;
  font-size: 1.5rem;
}

.match_check_green_lg{
  color: green;
  font-size: 1.5rem;
}

.registration_radio{
	display: inline-block;
    width: 18px;
    height: 18px;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: .1rem;
    padding-left: .1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

.fieldWrapper ul {
	list-style:none;
	width: 100%;
	padding: 0px;
	margin:  0px;
	}

.page_title_bar{
	width: 100%;
	height: 45px;
}

.stats_bar{
	width: 100%;
	height: 40px;
}

.page_table_div{
	width: 100%;
	height: calc(100% - 100px);
	/*background-color: red;*/
}

.page_table{
	width: 100%;
	height: calc(100% - 100px);
	/*background-color: yellow;*/
}

.table_header{
	width: 100%;
	height: 30px;
	background-color: #c8c7ca;
	 position: sticky;
  top: 0;
}

.table_body_rows{
	width: 100px;
	height: calc(100% - 200px);
	overflow-y: scroll;
	/*background-color: purple;*/
}

.page_h3{
	font-size: 16px;
}

@media only screen and (min-width: 992px){
	.page_h3{
		font-size: 20px;
	}
}


/*.fieldWrapper input[type=checkbox][disabled]{
  outline:1px solid red; 
  cursor: default;
  background-color: lightblue;
  color: white;
  border-color: darkblue;

}*/

/*input:disabled {
    cursor: default;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3);
}*/

/*input[disabled]{
  outline:1px solid red; // or whatever
}*/

