body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
	min-height:100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	background-color: #f9fafb0f;
}

.main_content{
	margin-top: 56px;
	flex: 1 1 auto;
	padding: 0 0 0;	
	background-color: red;
}

.staff_room_div{
	background-color: purple;
	height: 30px;
}

.staff_meeting_div{
	background-color: yellow;
	height: calc(100% - 30px);
}



.non_staff_meeting_div{
	background-color: yellow;
	height: calc(100% - 50px);
}

.non_staff_footer_div{
	height: 50px;
}

.icon25px{
  font-size:25px;
}

.button_bottom_toolbar{
  border-radius: 5px;
  height: 38px;
  font-weight: bold;
}

.close_full_screen{
  display: none;
}

