<table width="100%" border="0" cellspacing="0" cellpadding="20" background="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/pattern_triangle.png">

<tr>

<td>

<p>

<div style="text-align: center;">
	<img src="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/ebookbuddylogo.png">
	<h2 style='text-align: center; color: #735383; background-color: #fff;'>
		Gracias por enviar su información..
	</h2>	
</div>

<div style="background-color: #f4fafb; padding: 16px; border: 1px solid #735383;">
	<div>
		<p style="font-weight: bold;font-size:11pt;font-family:Arial;">
			Hemos recibido su información, pero actualmente no tenemos ninguna información sobre los niños que le gustaría registrar.
		</p>

		<div style="padding-top:16px; font-size:12pt;font-family:Arial">
			Utilice el siguiente enlace para registrar a su hijo o a cualquier hijo adicional.
		</div>

	</div>

	<div style="padding-top:16px; font-size:12pt;font-family:Arial;">	
		<a href="{{link}}"> 
 				Registre a su hijo(a)/hijos(as).
		</a>
	</div>

			<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Si necesita ayuda con algo, absolutamente puede comuncarse conmigo y estaré más que feliz de ayudar. 🤗 </span><a href="mailto:tails@ebookbuddy.org" style="text-decoration:none;"><span style="font-size:11pt;font-family:Arial;color:#1155cc;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">tails@ebookbuddy.org</span></a></p>
		
		<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">¡Espero saber pronto de usted!</span></p>
		
		<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Saludos,</span>
		<br>
		<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Tails Pineda</span>
		<br>
		<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Staff de eBookBuddy</span></p>
		<p><br></p>


</div>	

</p>

</td>

</tr>

</table>