<table width="100%" border="0" cellspacing="0" cellpadding="20" background="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/pattern_triangle.png">

<tr>

<td>

<p>

<div style="text-align: center;">
	<img src="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/ebookbuddylogo.png">
	<h2 style='text-align: center; color: #735383; background-color: #fff;'>		
		Recordatorio de registro de estudiantes
	</h2>	
</div>

<div style="background-color: #f4fafb; padding: 16px; border: 1px solid #735383;">
	<div>
		<p style="font-weight: bold;font-size:12pt;font-family:Arial;text-decoration: underline;">
			Para continuar con el proceso de solicitud, necesitamos que complete lo siguiente:
		</p>

		<div style="padding-top:12px; font-size:12pt;font-family:Arial">
			🟡 Nos comunicaremos a través de WhatsApp - ¡Allí le enviaré: recordatorios, detalles importantes, actualizaciones y algunos otros puntos! (¡No se preocupes, es un canal, así que nada de spam!)
		</div>

		<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">✅ Si aún no tiene WhatsApp, descargue la aplicación y cree su cuenta.</span></p>
		<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">✅ ¡Luego, haga clic en este enlace y le llevará a enviarme un mensaje! - Esto confirmará su lugar en nuestro programa eBookBuddy.</span></p>
		<p><a href="https://wa.me/50488976195?text=%C2%A1%C2%A1Hola,%20Tails!!%20%C2%A1Acabo%20de%20registrarme%20para%20el%20Programa%20de%20Primavera%20de%20eBookBuddy!%20%F0%9F%8C%B8%F0%9F%93%9A%20%C2%A1Por%20favor,%20dime%20los%20siguientes%20pasos!%20" style="text-decoration:none;"><span style="font-size:12pt;font-family:Arial;color:#1155cc;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">¡Haga clic aquí para unirse!</span></a></p>

		<p style="font-weight: bold;font-size:12pt;font-family:Arial;">
			⚠️ <span style="padding-left:5px;text-decoration:underline;">Si no completa estos 2 pasos, su solicitud no será procesada.</span>
		</p>

	</div>



			<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Si necesita ayuda en cualquier cosa, comuníquese conmigo y estaré más que feliz de ayudarle. 🤗 </span><a href="mailto:tails@ebookbuddy.org" style="text-decoration:none;"><span style="font-size:11pt;font-family:Arial;color:#1155cc;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">tails@ebookbuddy.org</span></a></p>
		
		<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">¡Espero saber de usted pronto!</span></p>
		
		<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Todo lo mejor,</span>
		<br>
		<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Tails Pineda</span>
		<br>
		<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Staff de eBookBuddy</span></p>
		<p><br></p>


</div>	

</p>

</td>

</tr>

</table>

