<table width="100%" border="0" cellspacing="0" cellpadding="20" background="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/pattern_triangle.png">
<tr>
<td>
<p>

<div style="text-align: center;">
	<img src="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/ebookbuddylogo.png">
	<h2 style='text-align: center; color: #735383; background-color: #fff;'>
		Welcome to eBookBuddy!
	</h2>	
</div>

<div style="background-color: #f4fafb; padding: 16px; border: 1px solid #735383;">
	<div>
		<h2 style='text-align: center; color: #735383;'>
			Now, let’s dive into your next steps and the details you need to know.

		</h2>
	</div>


	<p style="margin-bottom:0px;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap; padding-bottom: 0px;">✅ This is your login information to access your account to have the reading sessions:
 	</span></p>

	
		<ul style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;list-style: none; margin: 0px;">
			<li style="padding: 3px;"><span style="font-weight:bold;">Login Link: </span><a href="{{login_link}}"> 
				goebookbuddy.org
			</a></li>
			<li style="padding: 3px;"><span style="font-weight:bold;">Username: </span>{{username}}</li>
			<li style="padding: 3px;"><span style="font-weight:bold;">Password: </span>{{password}}</li>
		</ul>

	<p style="margin-bottom:0px;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">✅ From now on, ALL of our communications are going to be via Slack. (Although you might receive an email or two with large information). You might (or may not!) be familiar with it. Slack is a work, team-based communications app. You can use it online, download the desktop app, or get the mobile app! Whatever works best for you.</span></p>

 <p style="margin-bottom:0px; padding-left:40px; "><span style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap; text-decoration: underline;">To start, click this link to join our eBookBuddy Slack Workspace.</span>
 	
 	<div style="font-size:12pt;padding-left:40px; padding-top: 5px; padding-bottom: 5px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;">
 		<a href="https://join.slack.com/t/ebookbuddyworkspace/shared_invite/zt-115cyf51x-rzs7_ILoNkts~SYV3kEIog">Join Slack Channel</a>
 	</div> 	
 </p>

<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">If you need help with anything, absolutely reach out via Slack and I will more than happy to help! 🤗 </span></p>


 <p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">So excited to be working with you!</span></p>

<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">My all best,</span>
	<br>
<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Tails Pineda</span>
<br>
<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">eBookBuddy Staff</span></p>
<p><br></p>





	



</div>	

</p>

</td>

</tr>

</table>



