<table width="100%" border="0" cellspacing="0" cellpadding="20" background="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/pattern_triangle.png">
<tr>
<td>
<p>

<div style="text-align: center;">
	<img src="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/ebookbuddylogo.png">
	<h2 style='text-align: center; color: #735383; background-color: #fff;'>
		Password Change Request Received
	</h2>	
</div>

<div style="background-color: #f4fafb; padding: 16px; border: 1px solid #735383;">
	<div>
		<p>
			You're receiving this email because you requested a password reset for your user account at eBookBuddy.
		</p>

		<p>
			Please go to the following page and choose a new password:
		</p>
		<p>
			{% block reset_link2 %}
			{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
			{% endblock %}
			
		</p>

		<p>
			<text>Your username, in case you’ve forgotten:</text>
		</p>
		<p>
			<strong>{{ user.get_username }}</strong>
		</p>

		<p>
		Thanks for using our site!
		</p>
		<p>
			The eBookBuddy Team
		</p>



	</div>	
</div>	
</p>
</td>
</tr>
</table>



