{% extends 'base.html' %}

{% block content %}

<div class="row pt-3">
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
    <div class="card mx-auto">
      <div class="card-header custom_bg_light_teal">
        <h3 class="m-0 p-0 text-center">Reset Password</h3>
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}

          <div class="w-100 my-1 bg-light border p-2">
            <div class="d-inline-flex w-100 align-items-center">
              <div class="flex-grow-1 fw-bold pe-3">
                <label for="id_new_password1" class="">New Password:</label>         
              </div>
              <div>
                <input name="new_password1" class="form_control_modified_flex" placeholder="" type="password" id="id_new_password1" onfocus="remove_errors(this.name)">        
              </div>              
            </div>
            {% if form.errors %} 
              {% if 'new_password1' in form.errors %}
              <div class="p-1 text-center" id="new_password1_errors">
                  {% for error in form.new_password1.errors %}   
                    <div class="alert alert-danger p-1">
                      <strong class="px-2">{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                </div> 
            
               {% endif %} 
            {% endif %}
            <div class="d-flex justify-content-center align-items-center">
              {% if form.new_password1.help_text %}
              <div class="help_text_form">{{ form.new_password1.help_text|safe }}</div>
              {% endif %}
            </div>              
          </div>

           <div class="w-100 my-1 bg-light border p-2">
            <div class="d-inline-flex w-100 align-items-center">
              <div class="flex-grow-1 fw-bold pe-3">
                 <label for="id_new_password2" class="">Confirm Password:</label>   
              </div>
              <div>               
                <input name="new_password2" class="form_control_modified_flex" placeholder="" type="password" id="id_new_password2" onfocus="remove_errors(this.name)">        
              </div>              
            </div>
            {% if form.errors %} 
              {% if 'new_password2' in form.errors %}
              <div class="p-1 text-center" id="new_password2_errors">
                  {% for error in form.new_password2.errors %}   
                    <div class="alert alert-danger p-1">
                      <strong class="px-2">{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                </div> 
              
               {% endif %} 
            {% endif %}
            <div class="d-flex justify-content-center align-items-center">
              {% if form.new_password2.help_text %}
              <div class="help_text_form">{{ form.new_password2.help_text|safe }}</div>
              {% endif %}
            </div>              
          </div>


           {% if form.non_field_error %}
            <div class="p-1 text-center" id="non_field_errors">                   
                <div class="alert alert-danger p-1">
                  <strong class="px-2">{{ form.non_field_errors }}</strong>
                </div>                 
            </div> 
           
            {% endif %}

          <button class="w-100 btn btn-lg btn-warning my-3" type="submit">Submit Change</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function remove_errors(){
    let errors = document.querySelectorAll('.error_text_form')
     for (item of errors) {
                item.remove()
            }
  }
</script>

{% endblock %}