{% extends 'base.html' %}


{% block content %}


<div class="row pt-3">
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
    <div class="card mx-auto">    
      <div class="card-header custom_bg_light_teal">
        <h3 class="m-0 p-0 w-100 text-center fw-bold">Password Reset</h3>
      </div>
     
      <div class="card-body">
         <form method="POST" id = "id_password_reset_form">
          {% csrf_token %}
 
          <div class="text-center pt-3">
            <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" onfocus="remove_errors()">
            <div class="p-1 d-none" id="email_required_div">                   
                <div class="alert alert-danger p-1 text-center">
                  <strong class="px-2" id="email_required"></strong>
                </div>                 
            </div>
            
            <div>              
              {% if form.errors %}    
                {% if 'email' in form.errors %}
                  {% for error in form.email.errors %}          
                      <text class="error_text_form red">
                      {{error}}
                      </text>          
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
          </div>

             {% if form.non_field_error %}
            <div class="p-1" id="non_field_errors">                   
                <div class="alert alert-danger p-1">
                  <strong class="px-2">{{ form.non_field_errors }}</strong>
                </div>                 
            </div> 
           
            {% endif %}

            <div class="p-1 d-none" id="no_email_ajax">                   
                <div class="alert alert-danger p-1 text-center">
                  <strong class="px-2" id="no_email_found"></strong>
                </div>                 
            </div> 

            <!-- <div class="text-center red" id="no_email_found">
            </div> -->
          
          <button class="w-100 btn btn-lg btn-warning my-3" type="submit" id="id_submit_btn" >Send Reset Email</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const no_email_found = document.getElementById('no_email_found');
  const no_email_ajax = document.getElementById('no_email_ajax');
  const email_required_div = document.getElementById('email_required_div')
  const email_required = document.getElementById('email_required');
  const submitButton = document.getElementById('id_submit_btn');
  const reset_form = document.getElementById('id_password_reset_form');
  const input_email = document.getElementById('id_email')

  function remove_errors(){

    no_email_found.innerHTML = ""    
    email_required.innerHTML = ""
    no_email_ajax.classList.add('d-none')
    email_required_div.classList.add('d-none')

    let errors = document.querySelectorAll('.error_text_form')
     for (item of errors) {
                item.remove()
            }
  }

 




  // Add a listener to the click event
  submitButton.addEventListener('click', function (e) {
      e.preventDefault();
      let email_value = input_email.value
      
      if (email_value == ""){
        email_required.innerHTML = "This field is required."
        email_required_div.classList.remove('d-none')
      }else{
        $.ajax({
            type: 'GET',
            url: "{% url 'email_check' %}",
            data: {"target_id": email_value},
            success: function (response) {
              if(response["valid"]){
                console.log("Valid")
                reset_form.submit() 
                           
              } else {
                console.log("Invalid")
                no_email_found.innerHTML = "No account with that email exists.";
                input_email.value = "";
                no_email_ajax.classList.remove('d-none');
                
              }
            },
            error: function (response) {
                console.log(response)
            }
          })
        }
  });

</script> 

{% endblock %}

