{% extends 'site_admin/site_admin_base.html' %}

{% load static %}
{% load registration_extras %}

{% block content %}
<div class="fixed_height_registration">
<div class="page_title_bar">
	<div class="row  w-100">
	    <div class="col d-grid align-items-end">
	      <h3 class="m-0 p-0 page_h3">{{search_title}} Parent Registrations {% if search_title == "Matching" %} - {{count}} {% endif %}</h3>
	    </div>
	    <div class="col d-flex align-items-end">
	    	<div class="d-inline-flex ">
	    		<div class="pe-1">
	    			<a class="btn custom_bg_dark_green btn-sm fixed_width_125px" href="{% url 'site_admin:registrations_parents' 'All' %}">All</a>
	    		</div>
	    		<div class="pe-1">
	    			<a class="btn custom_bg_dark_green btn-sm fixed_width_125px" href="{% url 'site_admin:registrations_parents' 'No_Children' %}">No Children</a>
	    		</div>
	    		
	    	</div>	      
	    </div>	    
	    <div class="col col-lg-3 p-0 d-inline-flex justify-content-end align-items-end">
	    	<form class="form-inline w-100" id="searchForm" method="GET">
	    		<div class="d-inline-flex w-100">
	    			<div class="flex-grow-1 pe-1">
	    				<input class="form-control" type="text" placeholder="Search Registrations..." name="q" id="id_q">	
	    			</div>
	    			<div class="">
	    				<button type="submit" class="search_button"><i class="fas fa-search search_icon"></i></button>
	    			</div>
					
				</div>			
			</form>
	    </div>
  	</div>
</div>

<div class="stats_bar">
	<div class="container-fluid my-3 border-top border-bottom bg-light">
	  <div class="row row-cols-4 gx-0 w-100">
	    <div class="col text-center">
	    	<h6 class="py-2 m-0">Total Registrations = {{total_parent_registrations}}</h6>
	    </div>
	    <div class="col text-center">
	    	<h6 class="py-2 m-0">Total No Children = {{no_children_count}}</h6>
	    </div>
	    <div class="col text-center">
	    	<!-- <h6 class="py-2 m-0">Total Approved = {{stu_approved_count}}</h6> -->
	    </div> 
	    <div class="col text-center">
	    	<!-- <h6 class="py-2 m-0">Total Waitlist = {{stu_waitlist_count}}</h6> -->
	    </div>    
	  </div>
	</div>
</div>



<div class="table-responsive scrolling_table_fixed_head">
	<table class="table table-sm table-striped align-middle">
		<thead class="fw-bold" >
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Parent</th>
				<th>Language</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Count</th>
				<th>Children</th>
				<th>Send Link</th>

				{% if logged_in_user.is_superuser %}
				<th>WS Parent</th>
				{% endif %}
				

				
			</tr>
		</thead>
		<tbody class="">

		{% for reg in regs %}
			<tr {% if reg.student_registration_status.waitlist %} class= 'bg_muted_red' {% endif %}>
				<td>{{reg.id}}</td>
				<td>{{reg.date_created}}</td>
				<td>{{reg.full_name}}</td>	
				<td>{{reg.registration_language}}</td>				
				<td><a href="mailto: {{reg.email}}">{{reg.email}}</a></td>
				<td>{{reg.phone_format}}</td>
				<td>{{reg|total_children}}</td>
				<td>
					{% for item in reg.parent_info.all %}
					<div>
						{{item.full_name}}
					</div>
					
					{% endfor %}
				</td>
				<td>
					<a class="btn btn_sm btn-info" href="{% url 'site_admin:email_parent' reg.id %}">Email Register Children - {{reg|parent_email_register_children}}</a>
				</td>
				
				{% if logged_in_user.is_superuser %}
				<td>
					{% for item in reg.parent_reg_ip.all %}  
					{% if item.ws_connected %}  

					<text>{{item.id}}: </text><i class="fas fa-check  match_check_green_lg"></i>
					{% else %}
					<text>{{item.id}}: </text><i class="fas fa-times match_times_red_lg"></i>
					{% endif %}
					{% endfor %}
				</td>
				{% endif %}
				
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>
{% endblock content %}

