{% extends 'site_admin/site_admin_base.html' %}

{% load static %}
{% load registration_extras %}

{% block content %}
<div class="fixed_height_registration">
<div class="page_title_bar">
	<div class="row  w-100">
	    <div class="col d-grid align-items-end">
	      <h3 class="m-0 p-0 page_h3">{{search_title}} Volunteer Registrations {% if search_title == "Matching" %} - {{count}} {% endif %}</h3>
	    </div>
	    <div class="col d-flex align-items-end">
	    	<div class="d-inline-flex ">
	    		<div class="pe-1">
	    			<a class="btn custom_bg_dark_green btn-sm fixed_width_80px" href="{% url 'site_admin:registrations_volunteers' 'All' %}">All</a>
	    		</div>
	    		<div class="pe-1">
	    			<a class="btn custom_bg_dark_green btn-sm fixed_width_80px" href="{% url 'site_admin:registrations_volunteers' 'Pending' %}">Pending</a>
	    		</div>
	    		<div class="pe-1">
	    			<a class="btn custom_bg_dark_green btn-sm fixed_width_80px" href="{% url 'site_admin:registrations_volunteers' 'Approved' %}">Approved</a>
	    		</div>
	    		<div class="pe-1">
	    			<a class="btn custom_bg_dark_green btn-sm fixed_width_80px" href="{% url 'site_admin:registrations_volunteers' 'Denied' %}">Denied</a>
	    		</div>
	    		<div class="pe-1">
	    			<a class="btn btn-warning btn-sm fixed_width_80px text-white" href="{% url 'site_admin:download_registrations_volunteers'%}"><i class="fas fa-download "></i></a>
	    		</div>
	    	</div>	      
	    </div>	    
	    <div class="col col-lg-3 p-0 d-inline-flex justify-content-end align-items-end">
	    	<form class="form-inline w-100" id="searchForm" method="GET">
	    		<div class="d-inline-flex w-100">
	    			<div class="flex-grow-1 pe-1">
	    				<input class="form-control" type="text" placeholder="Search Registrations..." name="q" id="id_q">	
	    			</div>
	    			<div class="">
	    				<button type="submit" class="search_button"><i class="fas fa-search search_icon"></i></button>
	    			</div>
					
				</div>			
			</form>
	    </div>
  	</div>
</div>

<div class="stats_bar">
	<div class="container-fluid my-3 border-top border-bottom bg-light">
	  <div class="row row-cols-4 gx-0 w-100">
	    <div class="col text-center">
	    	<div class="d-inline-flex align-items-center">
	    		<h6 class="py-2 m-0">Total Registrations = {{total_vol_registrations}}</h6>
	    	</div>
	    	
	    </div>
	    <div class="col text-center">
	    	<h6 class="py-2 m-0">Total Pending = {{vol_pending_count}}</h6>
	    </div>
	    <div class="col text-center">
	    	<h6 class="py-2 m-0">Total Approved = {{vol_approved_count}}</h6>
	    </div> 
	    <div class="col text-center">
	    	<h6 class="py-2 m-0">Total Denied = {{vol_denied_count}}</h6>
	    </div>    
	  </div>
	</div>
</div>



<div class="table-responsive scrolling_table_fixed_head">
	<table class="table table-sm table-striped align-middle">
		<thead class="fw-bold " >
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Full Name</th>
				<th>Type</th>
				<th>Gender/Age</th>
				<th>Location</th>
				<th>Email/Phone</th>
				<th></th>
				<th>Video</th>				
				<th class="text-center">Tech</th>
				<th class="text-center">Status</th>
				{% if logged_in_user.is_superuser %}
				<th>WS</th>
				{% endif %}
				

				
			</tr>
		</thead>
		<tbody class="">

		{% for reg in regs %}
			<tr {% if reg.volunteer_registration_status.denied %} class= 'bg_muted_red' {% endif %}>
				<td>{{reg.id}}</td>
				<td>{{reg.date_submitted}}</td>
				<td>{% if reg.flagged %} <i class="fas fa-exclamation-triangle text-danger"></i>{% endif %}<text class="ps-1">{{reg.full_name}} </text></td>
				<td>{{reg.volunteer_type.0}}</td>
				<td>{{reg.gender.letter}} - {{reg.age}}</td>
				<td>{{reg.location}}</td>
				<td>
					<div>
						<a href="mailto: {{reg.email}}">{{reg.email}}</a>	
					</div>
					<div>
						{{reg.phone_format}}
					</div>					
				</td>
								
				<td><a class="btn btn_sm {% if reg.status == 'Approved' %}btn-success {%else%} btn-warning {% endif %}" href="{% url 'site_admin:volunteer_review' reg.id %}">Review</a></td>
				<td class="fixed_width_125px">
					<div class="font_12 d-inline-flex w-100 align-items-center">
						<div class="fixed_width_80px">Uploaded: </div>
						<div>
							{% if reg.volunteer_registration_status.video_uploaded %} 
							<i class="fas fa-check  match_check_green"></i>
							{% else %}
							<i class="fas fa-times match_times_red"></i>
							{% endif %}	
						</div>
									
					</div>
					<div class="font_12 d-inline-flex w-100 align-items-center">
						<div class="fixed_width_80px">Reviewed: </div>
						<div>
							{% if reg.volunteer_registration_status.video_reviewed %} 
							<i class="fas fa-check  match_check_green"></i>
							{% else %}
							<i class="fas fa-times match_times_red"></i>
							{% endif %}	
						</div>									
					</div>
					<div class="font_12 d-inline-flex w-100 align-items-center">
						<div class="fixed_width_80px">Passed: </div>
						<div>
							{% if reg.volunteer_registration_status.live_screening_passed %} 
							<i class="fas fa-check  match_check_green"></i>
							{% else %}
							<i class="fas fa-times match_times_red"></i>
							{% endif %}	
						</div>									
					</div>
					{% if not reg.volunteer_registration_status.video_uploaded %} 
						<div>
							<a class="btn btn_sm btn-info" href="{% url 'site_admin:video_reminder' reg.id %}">Video Email-{{reg|video_reminder}}</a>
						</div>

					{% endif %}	
				</td>
				<td class="text-center">
					<div>
						{{reg.volunteer_registration_status.tech_screening}} 
					</div>
					{% if reg.volunteer_registration_status.tech_screening == "Not Attempted" %}
					<div>
						<a class="btn btn_sm btn-info" href="{% url 'site_admin:server_times' reg.id %}">Send Tech Email-{{reg|testing_sent}}</a>
					</div>
						
					{% endif %}
					
				</td>
				<td class="text-center">
					<div>
						{{reg.status}}
					</div>
					{% if reg.status == "Approved" %}
						{% if not reg.user %}
							<a class="btn btn_sm btn-success text-white" href="{% url 'site_admin:create_volunteer' reg.id %}">Create User</a>
						{% else %}
						<div>
							<text class="fw-bold">Username: <span class="fw-normal">{{reg.user.username}}</span></text>
						</div>
						<div>
							<a class="btn btn_sm btn-info" href="{% url 'site_admin:user_info' reg.id %}">Email User Info-{{reg|user_info_sent}}</a>
						</div>
							
						{% endif %}
					{% endif %}
				
				</td>
				{% if logged_in_user.is_superuser %}
				<td>
					{% for item in reg.vol_reg_ip.all %}  
					{% if item.ws_connected %}  

					<text>{{item.id}}: </text><i class="fas fa-check  match_check_green_lg"></i>
					{% else %}
					<text>{{item.id}}: </text><i class="fas fa-times match_times_red_lg"></i>
					{% endif %}
					{% endfor %}
				</td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>
{% endblock content %}

