 {% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">eBookBuddy</a> 
    {% if user.role.name == "Staff" %}
    <text class="navbar-brand staff_name ps-2"> - {{role}}</text>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="d-grid align-items-center px-2">
          <div>
           <!--  <a class="btn btn-sm btn-warning" href="{% url 'testing:check_all_rooms' %}">All</a> -->
            <button class="btn btn-sm btn-warning"  id="get_jitsi_part_btn"  onclick="all_rooms_one_by_one()">All</button> 
          </div>
                      
         </li>
        <li class="d-grid align-items-center px-2">
          <div>
            <button class="btn btn-sm btn-warning"  id="get_jitsi_part_btn"  onclick="get_room_participants()">This Room</button>
          </div>
           
         </li>
        <li class="d-grid align-items-center px-2">
          <div>
            <button class="btn btn-sm btn-warning"  id="get_jitsi_part_btn"  onclick="get_all_rooms()">All Rooms</button>
          </div>
           
         </li>

        
        <li class="nav-item px-2">
          <a class="nav-link" href="/">Home </a>
        </li>

        {% if not request.user.is_authenticated %}
        <li class="nav-item px-2">
          <a class="nav-link" href="/login">Login</a>
        </li>

        {% endif %}

         {% if request.user.is_staff %} 
         
         <li class="nav-item px-2">
          <a class="nav-link " href="{% url 'testing:testing_home' %}">Testing Home</a>
        </li>

         <li class="nav-item px-2">
          <a class="nav-link " href="{% url 'site_admin:admin_home' %}">Site Admin</a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link " href="{% url 'admin:index' %}">Django Admin</a>
        </li>
        {% endif %} 

        {% if request.user.is_authenticated %}

        <li class="nav-item px-2">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>