<script type="text/javascript">

	const todays_staff_chat_room_id = JSON.parse(document.getElementById('todays_staff_chat_room_id').textContent);
	console.log("todays_staff_chat_room_id", todays_staff_chat_room_id)
	
	// Correctly decide between ws:// and wss://
	// var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	if (ws_scheme == "ws"){
		var ws_path = ws_scheme + '://' + window.location.host + "/staff_chat/{{todays_staff_chat_room.id}}/"; // development
	} else if (ws_scheme == "wss"){
		var ws_path = ws_scheme + '://' + window.location.host + ":8001/staff_chat/{{todays_staff_chat_room.id}}/"; // production
	} else {
		console.log("Else ws_scheme", ws_scheme)
	}

	let staff_chat_socket = ""

	function staff_chat_connect_ws(){
		console.log("\n\n\n****STAFF CHAT CONNECTING")

			staff_chat_socket = new WebSocket(ws_path);
			

			// Handle incoming messages
			staff_chat_socket.onmessage = function(message) {
				// console.log("Got chat websocket message " + message.data);
				var data = JSON.parse(message.data);
				// console.log("Staff TOP",data)

				// display the progress bar?
				displayStaffChatroomLoadingSpinner(data.display_progress_bar)

				// Handle errors (ClientError)
				if (data.error) {
					console.error(data.error + ": " + data.message)
					showStaffClientErrorModal(data.message)
					return;
				}
				// Handle joining (Client perspective)
				if (data.join) {
					// console.log("Joining Staff Chat " + data.join);
					getStaffRoomChatMessages(staff_chat_socket)
				}

				// Handle getting a message
				if (data.msg_type == 0) {
					// console.log("Staff DATA",data)


					appendStaffChatMessage(data, true, true)

				let all_unread_counts = JSON.parse(data.staff_msg_counts)
				// console.log("New Message", all_unread_counts, typeof(all_unread_counts))
				let data_counts = all_unread_counts.all_staff_counts
				let index = data_counts.findIndex(function (user) {
						return user.userID === user_id;
					});
				// console.log("Index", index)
				let user_new_count = data_counts[index].staff_unread_count;
				// console.log("Staff user_new_count line 57", user_new_count)
				adjust_staff_count_button(user_new_count)

				}
				// Handle getting the connected_user count
				if (data.msg_type == 1) {
					// console.log("STAFF", data['connected_user_count'])
					setStaffConnectedUsersCount(data['connected_user_count'])
				}
				// new payload of messages coming in from backend
				if(data.messages_payload){

					handleStaffMessagesPayload(data.messages, data.new_page_number, data.unread_counts)
				}
			};

			staff_chat_socket.addEventListener("open", function(e){
			console.log("STAFF ChatSocket OPEN addEventListener", staff_chat_socket)
				// join chat room
				if("{{request.user.is_authenticated}}"){
					staff_chat_socket.send(JSON.stringify({
						"command": "join_staff",
						"room": todays_staff_chat_room_id
					}));
				}

				// let staff_get_unread_count = document.getElementById('staff_get_unread_count')
		  //   	// console.log("Get Button", staff_get_unread_count)
		  //   	staff_get_unread_count.click()
			})

			staff_chat_socket.onclose = function(e) {
				console.error('Staff ChatSocket closed.');
				// if(current_count <= max_count){
    //     	staff_chat_connect_ws()
    //     } else {
    //     	console.error("***STAFF CHAT MAX COUNT REACHED**");
    //     }
				
			};

			staff_chat_socket.onOpen = function(e){
				console.log("Staff ChatSocket onOpen", e, staff_chat_socket)

			}

			staff_chat_socket.onerror = function(e){
		        console.log('Staff ChatSocket error', e)
		    }

		    if (staff_chat_socket.readyState == WebSocket.OPEN) {
		    	console.log("Staff ChatSocket OPEN ............")
		    	

		    } else if (staff_chat_socket.readyState == WebSocket.CONNECTING){
		        console.log("Staff ChatSocket connecting..")
		    }

			// document.getElementById('staff_chat-message-input').focus();
			document.getElementById('staff_chat-message-input').onkeyup = function(e) {
				if (e.keyCode === 13 && e.shiftKey) {  // enter + return
					// Handled automatically by textarea
				}
				else if(e.keyCode === 13 && !e.shiftKey){ // enter + !return
					document.getElementById('staff_chat-message-submit').click();
				}
			};

		    document.getElementById('staff_chat-message-submit').onclick = function(e) {
		    	console.log("Clicking send staff message", staff_chat_socket)
				const staffmessageInputDom = document.getElementById('staff_chat-message-input');
				const staffmessage = staffmessageInputDom.value;
				staff_chat_socket.send(JSON.stringify({
					"command": "send",
					"message": staffmessage,
					"room_id": "{{todays_staff_chat_room.id}}",
					"meeting_room": "{{room}}",
					"meeting_room_id": "{{room.id}}",

				}));
				staffmessageInputDom.value = '';
			};

	}

	staff_chat_connect_ws()


	function appendStaffChatMessage(data, maintainPosition, isNewMessage){
		// console.log("Append Chat Message", data, maintainPosition, isNewMessage)

		let message = data['message']
		let msg_id = data['msg_id']
		let uName = data['username']
		let user_id_chat = data['user_id']
		let timestamp = data['natural_timestamp']
		let date_time = data['date_time']
		let meeting_room = data['meeting_room_name']
		let meeting_room_id_msg =data['meeting_room_id']
		let  msg = message + '\n';
		let  username = uName + ": "
		createStaffChatMessageElement(msg, msg_id, username, user_id_chat, timestamp, date_time, meeting_room, meeting_room_id_msg, maintainPosition, isNewMessage)
	}

	function handleStaffMessagesPayload(messages, new_page_number, unread_counts){
		// console.log("handleMessagesPayload new page number", new_page_number)
		if(messages != null && messages != "undefined" && messages != "None"){
			setStaffPageNumber(new_page_number)
			messages.forEach(function(message){
				// console.log("Message", message)
				appendStaffChatMessage(message, true, false)
			})
		}
		else{
			setStaffPaginationExhausted() // no more messages
		}

		
		let all_unread_counts = JSON.parse(unread_counts)
		// console.log("handleMessagesPayload", all_unread_counts, typeof(all_unread_counts))
		let data_counts = all_unread_counts.all_staff_counts
		let index = data_counts.findIndex(function (user) {
				return user.userID === user_id;
			});
		// console.log("Index", index)
		let user_new_count = data_counts[index].staff_unread_count;
		// console.log("user_new_count", user_new_count)
		adjust_staff_count_button(user_new_count)
	}

	function setStaffPageNumber(pageNumber){
		document.getElementById("id_staff_page_number").innerHTML = pageNumber
	}

	function setStaffPaginationExhausted(){
		setStaffPageNumber("-1")
	}

	/*
		Retrieve the chat room messages given the page number.
	*/
	function getStaffRoomChatMessages(staff_chat_socket){
		var pageNumber = document.getElementById("id_staff_page_number").innerHTML
		if(pageNumber != "-1"){
			setStaffPageNumber("-1") // Do not allow any other queries while one is in progress
			staff_chat_socket.send(JSON.stringify({
				"command": "get_room_chat_messages",
				"room_id": "{{todays_staff_chat_room.id}}",
				"page_number": pageNumber,
			}));
		}
	}

	/*
		Get the next page of chat messages when scrolls to bottom
	*/
	document.getElementById("id_chat_log").addEventListener("scroll", function(e){
		var chatLog = document.getElementById("id_chat_log")
		chatLog.addEventListener("scroll", function(e){
			if ((Math.abs(chatLog.scrollTop) + 2) >= (chatLog.scrollHeight - chatLog.offsetHeight)) {
				getStaffRoomChatMessages(staff_chat_socket)
			}
		});
	})

	function createStaffChatMessageElement(message, msg_id, username, user_id_chat, timestamp, date_time,  meeting_room, meeting_room_id_msg, maintainPosition, isNewMessage){

			var chatLog = document.getElementById('id_staff_chat_log')

			var newMessageDiv = document.createElement("div")
			newMessageDiv.classList.add("message_container")
			var top_div = document.createElement("div")
			top_div.classList.add("top_div")
			var message_div = document.createElement("div")
			message_div.classList.add("message_div")
			var msg_p = document.createElement("p")
			msg_p.innerHTML = message
			message_div.appendChild(msg_p)
			var name = document.createElement("div")
			name.classList.add("name")
			name.innerHTML = username
			var time = document.createElement("div")
			time.classList.add("time")
			time.innerHTML = timestamp
			top_div.appendChild(name)
			top_div.appendChild(time) 
      newMessageDiv.appendChild(top_div)

			let message_in_room = document.createElement('div');
			message_in_room.classList.add('in_room');
			message_in_room.innerHTML = "In: " + meeting_room
			newMessageDiv.appendChild(message_in_room)
			newMessageDiv.appendChild(message_div)


			if(isNewMessage){
				if(user_id_chat != user_id){

					// let staff_add_one = document.getElementById('staff_add_one')
					// staff_add_one.click()
				}
				
          chatLog.insertBefore(newMessageDiv, chatLog.firstChild)
			}
			else{
				chatLog.appendChild(newMessageDiv)
			}

			if(!maintainPosition){
				chatLog.scrollTop = chatLog.scrollHeight
			}        
    }


	function showStaffClientErrorModal(message){
		console.log("showClientErrorModal")
		document.getElementById("id_client_error_modal_body").innerHTML = message
		document.getElementById("id_trigger_client_error_modal").click()
	}

	function displayStaffChatroomLoadingSpinner(isDisplayed){
		var spinner = document.getElementById("id_chatroom_loading_spinner")
		if(isDisplayed){
			spinner.style.display = "block"
		}
		else{
			spinner.style.display = "none"
		}
	}

	function setStaffConnectedUsersCount(count){
		element = document.getElementById("id_staff_chat_connected_users")
		element.innerHTML = count
	}

	function play_staff_message_notification_sound(){
		// console("Staff Chat Notification")
    let audio_element = document.getElementById('staff_message_audio');
    audio_element.play();
  }

</script>


<!-- Client Error MODAL -->
<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="modal" data-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Socket Client Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="id_client_error_modal_body">Something went wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Client Error MODAL -->


