 {% load static %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ps-3" href="http://www.ebookbuddy.org/"><img class="site_logo_nav" src="{% static 'images/ebookbuddylogo.png' %}"></a>
      <div class="navbar-text small_login">
        {% if display_login_logout %}
          {% if request.user.is_authenticated %}
            <a class="btn custom_bg_dark_teal rounded login_btn fw-bold" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="btn custom_bg_dark_teal rounded login_btn fw-bold" href="{% url 'login' %}">Login</a>
          {% endif %} 
        {% endif%}       
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="drop_down_menu_div">
          <ul class="navbar-nav mb-2 mb-lg-0 nav_list">
            
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="https://www.ebookbuddy.org/">HOME</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="https://www.ebookbuddy.org/about_us">ABOUT US</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                JOIN US
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'registration:volunteer_registration' %}">Volunteer Registration</a></li>
                <li><a class="dropdown-item" href="{% url 'registration:pre_registration' %}">Student Registration</a></li>
                <li><a class="dropdown-item" href="https://www.ebookbuddy.org/join#VolunteerOpportunity">Volunteer</a></li>
                <li><a class="dropdown-item" href="https://www.ebookbuddy.org/program#Students">Students</a></li>
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROGRAM INFO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="https://www.ebookbuddy.org/program-info">Program Info</a></li>
                <li><a class="dropdown-item" href="https://www.ebookbuddy.org/programa">Información del programa</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="https://www.ebookbuddy.org/gallery">GALLERY</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                RESOURCE
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="https://www.ebookbuddy.org/volresources">Volunteers</a></li>
                <li><a class="dropdown-item" href="https://www.ebookbuddy.org/team-leaders">Team Leaders</a></li>
                <li><a class="dropdown-item" href="https://www.ebookbuddy.org/staff">Staff</a></li>
              </ul>
            </li>          
          </ul>
        </div>
        <span class="navbar-text large_login pe-3">
          {% if display_login_logout %}
            {% if request.user.is_authenticated %}
              <a class="btn custom_bg_dark_teal rounded login_btn fw-bold" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="btn custom_bg_dark_teal rounded login_btn fw-bold" href="{% url 'login' %}">Login</a>
            {% endif %}
          {% endif %}          
      </span>
      </div>
    </div>
  </nav>
