<table width="100%" border="0" cellspacing="0" cellpadding="20" background="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/pattern_triangle.png">

<tr>

<td>

<p>

<div style="text-align: center;">
	<img src="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/ebookbuddylogo.png">
	<h2 style='text-align: center; color: #735383; background-color: #fff;'>
		Your information has been received.   You will receive your username and password as soon as it is created.
	</h2>	
</div>



</p>

</td>

</tr>

</table>



