<table width="100%" border="0" cellspacing="0" cellpadding="20" background="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/pattern_triangle.png">
<tr>
<td>
<p>

<div style="text-align: center;">
	<img src="https://spring-2022-gobuddy.s3.amazonaws.com/static/images/ebookbuddylogo.png">
	<h2 style='text-align: center; color: #735383; background-color: #fff;'>
		Volunteer Application Submitted
	</h2>	
</div>

<div style="background-color: #f4fafb; padding: 16px; border: 1px solid #735383;">
	<div>
		<h2 style='text-align: center; color: #735383;'>
			We are so excited and happy that you decided to join us! Welcome! 🥳
		</h2>
	</div>

	<p><span style="font-size:14pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Please read all of the following:</span></p>

	<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">🟡 My name is Tails! ☺️ Nice to meet you!! I am going to be helping you with our program. If you have questions or comments, please reach out to me. My door is always open. I will be more than happy to help out with whatever you may need! 💕</span></p>

	<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">🟡 The program will start in February 2022. You will receive your training and to-do steps checklist so you can be more than ready to start your reading sessions!</span></p>

	<p style="padding-top: 16px;"><span style="font-size:14pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;white-space:pre;white-space:pre-wrap; ">Now, some action steps that you need to take to process your spot in our eBookBuddy Program:</span></p>


	<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">✅ As a way for us to get to know you a little bit better and make the best possible matches, we are requiring that all volunteers upload a short video. </span></p>

	<p style="padding-left: 18px;">
		<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Please answer the following 3 questions:</span>
		<ol style="font-size:10pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;">
			<li style="padding: 3px;">Why do you want to be a volunteer at eBookBuddy?</li>
			<li style="padding: 3px;">What was your favorite book when you were a child and why?</li>
			<li style="padding: 3px;">What is your fondest memory as a child and why?</li>
		</ol>
	</p>

	<p style="padding-left: 18px;">
		<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:italic;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Max length 3 mins - around 1 min per question.</span>
	</p>
	<p style="padding-left: 18px;">
		<span style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">To upload your video please use the following link:</span>
		<div style="padding-left: 18px;font-weight:bold; font-size:14pt;">	
			<a href={{link}}> 
				Upload video
			</a>
		</div>
	</p>

	<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">✅ To ensure the best possible experience for both you and the student, we will be doing a short tech screening for all volunteers to ensure the screen can be shared as well as check for both a working microphone and camera.  We will be doing the screening in batches. After your application has been reviewed, we will contact you with more details.
 </span></p>
<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">If you need help, reach out and I will be more than happy to help you out! </span><a href="mailto:tails@ebookbuddy.org" style="text-decoration:none;"><span style="font-size:11pt;font-family:Arial;color:#1155cc;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">tails@ebookbuddy.org</span></a></p>


 <p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">I look forward to hearing back from you!</span></p>

<p><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">My all best,</span>
	<br>
<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Tails Pineda</span>
<br>
<span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">eBookBuddy Staff</span></p>
<p><br></p>





	



</div>	

</p>

</td>

</tr>

</table>



