{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-grid justify-content-center align-items-center h-100">
		<div class="card">
			<div class="card-header custom_bg_light_teal">
				<h2 class="text-center m-0 p-0"> Pending Approval </h2>			
			</div>
			<div class="card-body">
				<div class="text-center px-5">
					<h3> Thank you for visiting.</h3>
					<p class="pt-3"> Your application is being reviewed.</p>
					<p class="pb-3"> Our staff will contact you with further instructions.</p>
				</div>			
			</div>		
		</div>
</div>
{% endblock content %}