{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="grid justify-content-center align-items-center p-5">
		<div class="card p-3">
			<div class="card-header custom_bg_light_teal text-center">
				<h3 class="m-0 p-2">Thank you! Volunteer Application Submitted.</h3>
				
			</div>
			<div class="card-body text-center">
				<h5 class="m-0 p-2 ">The application will be reviewed by the Staff. </h5>
				<h5 class="m-0 p-2 ">A confirmation email will arrive shortly with the next steps. </h5>
				<div class="p-2">
					<text class="m-0 p-2 fst-italic">All communication will be sent to the email in the application.</text>
				</div>
				<div class="px-2">
					<text class="m-0 p-2 fst-italic">Please be sure to add info@ebookbuddy to your allowed senders and check your spam folders.</text>
				</div>
				
								
			</div>			
		</div>
		
	</div>
{% endblock content %}